Songs { 
     color: white; 
     width: 100%; 
     text-align: center
} 

heading { 
     color: green; 
     font-size : 40px; 
     background-color : powderblue;
     text-align: center} 

Title{ 
     color: #D1FAFF;
     display : block; 
} 
Artist{ 
	color: #78F0FE;
     display : block; 
} 
Genre{ 
	color: #0FE3FC
     display : block; 
} 
Year{ 
	color: #0A92A3;
     display : block; 
} 

title { 
     font-size : 25px; 
     font-weight : bold; 
     text-align: center
} 
