Songs { 
     color: white; 
     background-color: gray;
     width: 100%; 
     text-align: center
} 

heading { 
     color: green; 
     font-size : 40px; 
     background-color : powderblue;
     text-align: center} 

Title{ 
     color: white;
     display : block; 
} 

Artist{ 
	color: #93F7FB;
     display : block; 
} 

Genre{ 
	color: #27DAE1
     display : block; 
} 

Year{ 
	color: #2870D5;
     display : block; 
} 

title { 
     font-size : 25px; 
     font-weight : bold; 
     text-align: center
} 
